<h1>A place for puppy lovers</h1>
<br /> 
<br />
<h2>Tell us about your pup!</h2>
<br />
<br />


<%= simple_form_for @puppy do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :age %> 
  <%= f.submit 'Add your Pup!' %>
<% end %>